.about-section {
  width: 100%;
  h1 {
    font-size: 5rem;
    color: #732f3c;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
    line-height: 2.8rem;
    font-weight: 700;
    text-align: center;
  }
  .about-tools {
    gap: 2rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
    img {
      @media (max-width: 480px) {
        width: 37rem;
        margin-left: -10rem;
      }
    }
    .about-texts {
      margin-left: 10rem;
      @media (max-width: 480px) {
        text-align: center;
      }
      span {
        font-size: 2rem;
        color: #d93728;
        font-weight: 700;
      }
      h2 {
        margin-top: 2rem;
        width: 60rem;
        font-size: 4rem;
        color: #732f3c;
        font-weight: 700;
        @media (max-width: 1240px) {
          width: 55rem;
        }  
        @media (max-width: 480px) {
          margin-left: -29rem;
        }  
      }
      p {
        line-height: 2.8rem;
        width: 45rem;
        color: #732f3c;
        margin-top: 2rem;
        font-size: 2rem;
        @media (max-width: 480px) {
          text-align: center;
          width: 40rem;
          margin-left: -21rem;
        }  
      }
      button {
        margin-top: 4rem;
        border-radius: 1rem;
        padding: 1.5rem 4rem;
        background-color: #732f3c;
        font-size: 1.7rem;
        color: #fff;
        @media (max-width: 480px) {
          text-align: center;
          margin-left: -29rem;
        }  
      }
    }
  }
}
